<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Editing articles</h1>

      <%= link_to 'Back', articles_path %>
      <hr/>

      <%= render 'form' %>
    </div>
  </div>
</div> <!-- /container -->
